@import url(../fonts/stylesheet.css);
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

/* === MAIN === */

.wrapper{
    max-width: 1110px;
    margin: auto;
    display: flex;
}

.background-img {
    background-color: #474747;
    background-image: url(../background-img.png);
    background-repeat: no-repeat;
    background-size: cover;
  
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    height: 950px;
    width: 100%;
}

.pretitle {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    margin-bottom: 15px;
    color: #333333;
}

.title {
    font-family: 'Noto Serif';
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    margin-bottom: 60px;
    color: #333333;
}

.title__white {
    color: white;
}

.wrapper__black-background {
    background-color: #121212;
    background-image: url(../img/salons_background-img.png);
}

/* ===== HEADER ===== */

header {
    padding-top: 25px;

    a {
        color: white;
        font-family: 'Gilroy', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        opacity: 0.6;
        transition: .2s linear;

        &:hover {
            text-decoration: underline;
            opacity: 1;
        }
    }
}

.wrapper__header {
    height: 52px;
}

.header_left {
    display: flex;
    margin-right: auto;
    align-items: center;

   a{
    margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }
    }
}


.header_logo {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    margin: auto;
    width: 216px;
}

.header_right {
    display: flex;
    margin-left: auto;
    align-items: center;

    > img{
        margin-right: 15px;
    }

    input {
        width: 41px;
    
        background-color: transparent;
        border: none;
    
        font-family: 'Gilroy';
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: white;
    }

    .login-button{
        color: white;
        margin: 0 40px;
    }

    > a:last-of-type {
        margin-left: 25px;
    }
}

/* ===== MAIN ===== */

/* === INTRO === */

.wrapper__intro {
    flex-direction: column;
}

.intro_title {
    text-align: center;
    margin-top: 523px;
    h2 {
        color: white;   
        font-family: 'Noto Serif';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 140%
    }
    button {
        background-color: #333333;
        margin-top: 50px;
        margin-bottom: 80px;
        padding: 15px 35px;
        border: 1px solid white;

        font-family: 'Gilroy';
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        color: white;
        text-transform: uppercase;

        transition: .2s linear;
        &:hover {
            background-color: #2c2c2c;
        }
    }
}

.intro-line {
    height: 1px;
    background-color: white;
}

.intro_brands {
    display: flex;
    margin: 30px 0;
    
    .brands_item {
        margin-right: 15px;
        padding-right: 15px;
        border-right: 1px solid white;
        
        &:last-child {
            margin-right: 0;
            padding-right: 0;
            border-right: none;
        }
    }
}

/* === CATALOG === */

.catalog {
    margin: 100px 0;
    width: 100%;
    text-align: center;
}

/* КОГДА ЭЛЕМЕНТ АКТИВЕН  MARGIN-RIGHT = 18PX, и фигня скрывается. 
не активен 24 пикслеля */

.catalog_menu {
    display: flex;
    margin-top: 60px;
    .menu_item {
        border: 1px solid #D6D6D6;
        height: 55px;
        width: 165px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 24px;
        position: relative;
        background-color: #fff;
        &:last-child {
            margin-right: 0;
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 6px;
            top: 6px;
            border: 1px solid #D6D6D6;
            z-index: -1;
        }

        transition: border .2s linear;
        &:hover {
            border: 1px solid #7f7f7f
        }
        &:hover:after {
            border: 1px solid #7f7f7f
        }

        span {
            color: #333333;
            font-family: 'Gilroy';
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            text-transform: uppercase;
        }
    }
    .menu_item__active {
        background-color: #333333;
        width: 171px;
        height: 61px;
        span {
            color: white;
        }
        &::after, &:hover:after {
            border: none;
        }
    }
}

.catalog_products {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;

    & > * {
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 30px;
    }
    & > *:hover {
        cursor: pointer;
    }

    .products_item {
        height: 280px;
        width: 350px;
        margin-top: 30px;
        position: relative;
        &:nth-child(1) {
            background-color: #474747;
            background-image: url(../img/catalog_background-img__1.png);
        }
        &:nth-child(2) {
            background-color: #474747;
            background-image: url(../img/catalog_background-img__2.png);
        }
        &:nth-child(3) {
            background-color: #474747;
            background-image: url(../img/catalog_background-img__3.png);
            margin-right: 0;
        }
        &:nth-child(4) {
            background-color: #474747;
            background-image: url(../img/catalog_background-img__4.png);
        }
        &:nth-child(5) {
            background-color: #474747;
            background-image: url(../img/catalog_background-img__5.png);
        }
        &:nth-child(6) {
            background-color: #474747;
            background-image: url(../img/catalog_background-img__6.png);
            margin-right: 0;
        }

        span {
            position: absolute;
            bottom: 30px;
            left: 0;
            right: 0;
            margin: auto;

            font-family: 'Gilroy';
            font-weight: 500;
            font-size: 24px;
            line-height: 120%;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        transition: 0.2s linear;
        &:hover {
            border: 1px solid #333333;
        }
    }
}

/* === SALONS === */

.salons {
    padding: 100px 0;
    margin: auto;
    max-width: 730px;

    text-align: center;
    
    p {
        font-family: 'Gilroy';
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 60px;
        color: white;
    }
    button {
        padding: 15px 35px;
        background-color: white;
        font-family: 'Gilroy';
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
}

/* === ARTICLES === */

.articles {
    margin-top: 120px;
    width: 100%;
    text-align: center;

    button {
        padding: 15px 35px;
        color: white;
        font-family: 'Gilroy';
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        background-color: #1e1e1e;
        
        transition: .2s linear;
        &:hover {
            background-color: #2c2c2c;
        }
    }

    .articles_list {
        display: flex;
        margin-bottom: 60px;

        & > * {
            width: 350px;
            height: 370px;
            margin-right: 30px;
            position: relative;

            span {
                font-family: 'Gilroy';
                font-weight: 400;
                font-size: 21px;
                line-height: 140%;
                color: white;

                position: absolute;
                bottom: 35px;
                margin: auto;
                left: 60px;
                right: 60px;
            }

            &:hover {
                cursor: pointer;
            }

            &:nth-child(1) {
                background-color: #7f7f7f;
                background-image: url(../img/articles_background-img__1.png);
            }
            &:nth-child(2) {
                background-color: #7f7f7f;
                background-image: url(../img/articles_background-img__2.png);
            }
            &:nth-child(3) {
                background-color: #7f7f7f;
                background-image: url(../img/articles_background-img__3.png);
                margin-right: 0;
            }
        }
    }
}

/* === SOCIALS === */

.socials {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 150px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    & > * {
        width: 277px;

        &:nth-child(1) {
            width: 555px;
        }
        &:nth-child(6) {
            width: 555px;
        }

        &:hover {
            cursor: pointer;
        }
    }

}

/* === MAILING === */

.mailing {
    padding: 100px 0;
    margin: auto;

    text-align: center;
    .mailing_input-form{
        display: flex;
        align-items: center;

        ul {
            margin-right: 80px;
            width: 245px;
                
            li {
                font-family: 'Gilroy';
                font-weight: 400;
                font-size: 18px;
                line-height: 140%;
                color: white;
                display: flex;
                align-items: center;
    
                img {
                    margin-right: 20px;
                }
            }
        }
    }
    .input-form_border {
        padding: 15px;
        border: 1px solid white;
        background-color: transparent;
    }
    .input-form_wrapper {
        padding: 20px 22px;
        background-color: white;
        display: flex;
        align-items: center;

        input {
            width: 200px;
            height: 45px;
            padding: 15px 20px;
            border: 1px solid #D6D6D6;

            font-family: 'Gilroy';
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: rgba(51, 51, 51, 0.5);

            margin-right: 15px;
        }

        button {
            padding: 15px 35px;
            color: white;
            font-family: 'Gilroy';
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            background-color: #333333;
                        
            transition: .2s linear;
            &:hover {
                background-color: #2c2c2c;
            }
        }
    
    }
}

/* ===== FOOTER ===== */

footer {
    margin-top: 80px;
    margin-bottom: 20px;

    a {
        opacity: 0.8;
        transition: .2s linear;

        &:hover {
            text-decoration: underline;
            opacity: 1;
        }
    }
}

.wrapper__footer {
    flex-direction: column;
}

.footer-line {
    width: 100%;
    background-color: #333333;
    height: 1px;
    margin-bottom: 30px;
}

.footer_first-wrapper {
    display: flex;
    margin-bottom: 60px;

    article {
        display: flex;
        flex-direction: column;
        width: 255px;
        margin-right: 30px;

        h5 {
            font-family: 'Gilroy';
            font-weight: 500;
            font-size: 18px;
            line-height: 140%;
            text-transform: uppercase;
            color: #333333;
            margin-bottom: 10px;
        }
        
        a, p {
            font-family: 'Gilroy';
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: #333333;
            margin-bottom: 15px;
        }
    }

    img {
        margin-right: 20px;
    }

    .footer_payments {
        display: flex;
    }

    .footer_contacts {
        margin-bottom: 20px;
    }
}

.footer_second-wrapper {
    display: flex;
    justify-content: space-between;
    .footer_underline {
        text-decoration: underline;
    }
    a, span {
        font-family: 'Gilroy';
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #333333;
        margin-bottom: 15px;
    }
}



